div#puzzle_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4em;
}

div.word {
	flex-shrink: 0;	/* means "don't shrink (i.e. break) me" */
}

div#unused, div.letter, div#create_text {
	font-size: 2em;
	font-family: monospace;
}

div.letter {
	display: inline-block;
	margin: 0.2em 0.3em;
	padding: 0.1em;
	border: 1px solid transparent;
}

div.letter.current {
	border-color: red;
}

div.letter:hover  {
	background-color: yellow;
}

div.letter .plain {
	font-weight: bold;
	border-bottom: 4px solid #555;
	min-height: 1em;
}

div.letter .plain.conflicted {
	color: red;
}

dialog#create_puzzle {
	width: 50%;
}

dialog#create_puzzle div {
	margin: 1.1em 0;
}

dialog#create_puzzle div#create_text {
	height: 4em;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 0.1em;
}

div#create_text {
	text-transform: uppercase;
}

.msg {
	visibility: visible;
	font-family: serif;
	font-style: italic;
}

.msg.hidden {
	visibility: hidden;
}

div.toolbar {
	margin: 1.1em 0;
}
