div#puzzle_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4em;
}

div.word {
	flex-shrink: 0;	/* means "don't shrink (i.e. break) me" */
}

div#unused, div.letter, div#create_text, span.kb_letter, p.result {
	font-size: 2rem;
	font-family: monospace;
}

div.letter {
	display: inline-block;
	margin: 2px;
	padding: 0.1em;
	border: 2px solid transparent;
}

div.letter.current {
	border-color: red;
}

div.letter:hover  {
	background-color: yellow;
}

div.letter .plain {
	font-weight: bold;
	border-bottom: 4px solid #555;
	min-height: 1em;
}

div.letter.non_coding .plain {
	border-bottom: 4px solid transparent;
}

div.letter .plain.conflicted {
	color: red;
}

dialog#create_puzzle div {
	margin: 1.1em 0;
}

dialog#create_puzzle div#create_text {
	height: 4em;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0.5em;
}

div#create_text {
	text-transform: uppercase;
}

.msg {
	visibility: visible;
	font-family: serif;
	font-style: italic;
	font-size: 2rem;
}

.msg.hidden {
	visibility: hidden;
}

div.toolbar {
	margin: 1.1em 0;
}

div#keyboard {
	text-align: center;
}

span.kb_letter {
	box-shadow: inset 4px 4px 0px #ffffff,
		inset -4px -4px 0px #b0b0b0,
		0px 8px 12px rgba(0, 0, 0, 0.1);
	display: inline-block;
	padding: 0.3em;
	margin: 0.1em;
	font-size: 3em;
	background-color: #dde;
}

span.kb_letter:hover {
	background-color: white;
}

button {
	padding: 1rem;
	font-size: 2rem;
	margin: 0.2rem;
	border-radius: 0.5rem;
}
